/* ---------------------------------
   FONT FACE
------------------------------------ */
@font-face {
    font-family: "Fetteunzfranz";
    src: url("../fonts/FetteClassicUNZFraktur.ttf") format("truetype");
}

/* ---------------------------------
   GLOBAL + RESET
------------------------------------ */
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: center;
    margin: 0; /* Ensure no default margin. */
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

/* ---------------------------------
   WRAPPER
------------------------------------ */
#wrapper {
    /* Use a full view height minus header size.
       If the header height is truly 65.7px, keep as is;
       otherwise make it something more typical, like 60px or 70px. */
    min-height: calc(100vh - 65.7px);
    overflow: auto;
    position: relative;
}

/* ---------------------------------
   BANNER
------------------------------------ */
.banner {
    max-height: auto; /* 'auto' isn't really needed if width=100%. */
    opacity: 0.23;
    width: 100%;
}

/* ---------------------------------
   HEADINGS & TEXT
------------------------------------ */
h1, h2 {
    font-family: 'Playfair Display';
    font-weight: bold;
}

p {
    font-family: 'Roboto';
    margin: 0; /* Reset paragraph margin. */
}

#udlejning-heading {
    font-size: 22px;
}

#ui {
    /* Consider a more flexible approach, but if you need a 2x2 grid at larger sizes: */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: calc(1em / 1.3);
}

/* ---------------------------------
   HEADER
------------------------------------ */
header {
    width: 100%;
    background-color: white;
    margin-bottom: 0;
    padding-bottom: calc(26px / 2);
    /* NOTE: There's no color specified in border-bottom.
       Add a color of your choice here: */
    border-bottom: 5px solid black; /* Example color, tweak as needed */
}

header h1 {
    font-family: 'Playfair Display';
}

/* ---------------------------------
   NAV
------------------------------------ */
nav {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 25px;
    display: grid;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
}

/* Larger screens (min-width:700px) */
@media (min-width:700px) {
    nav {
        width: 95%;
        margin: 0 auto;
        grid-template-columns: repeat(8, 1fr);
    }
}

/* Smaller screens (max-width:700px) */
@media (max-width:700px) {
    nav {
        grid-template-columns: repeat(2, 1fr);
    }
    nav a {
        padding: 1em 0;
    }
}

/* ---------------------------------
   MODAL
------------------------------------ */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------
   MAIN
------------------------------------ */

/* #twoColumn and #gallery-selection:
   Using repeat(auto-fill, minmax(200px, 1fr)) is already responsive. 
   Below you’ll see additional media queries to adjust columns, etc. */

#twoColumn,
#gallery-selection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 90%;
    margin: 0 auto;
}

#gallery-selection > div {
    width: 100%;
    /* NOTE: Fixed height can break responsiveness.
       Remove or change to min-height if you must keep a dimension.
       For fully fluid, remove height altogether. */
    height: auto;
    border: 1em solid;
    border-style: none ridge ridge;
    margin: 0 auto;
}

/* If you actually want images to fill a ratio, use object-fit in the <img> or background-size in CSS. */
#gallery-selection > .img {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: auto 3 / 2;
    overflow: hidden;
}

/* The image with class .img-front */
.img-front {
    width: auto;
    height: 400px; /* Another fixed height. Consider removing for responsiveness. */
    border: 1em black;
    border-style: none double dashed;
}

/* Stack columns vertically on mobile */
@media (max-width: 720px) {
    #twoColumn {
        grid-template-columns: 1fr;
    }
}

/* Side-by-side on larger screens */
@media (min-width: 720px) {
    #twoColumn {
        grid-template-columns: 1fr 1fr;
    }
}

/* form */
#form1 {
    display: grid;
    width: 50%;
    grid-gap: 2.5px;
    margin: 0 auto;
}

#form1 input {
    margin-bottom: 5px;
}

/* Additional layout for screens >= 720px */
@media (min-width: 720px) {
    main {
        /* If you have a grid layout for main, ensure it’s defined in HTML or here. */
    }
    #centerColumn {
        grid-column: 2 / 17;
    }
    #twoColumn {
        width: 90%;
        margin: 0 auto;
        grid-column: 2 / 17;
        /* If you truly want 4 columns, do something like: */
        grid-template-columns: 49% 1% 29% 20%;
        /* But be aware this is very specific and can appear odd.
           Possibly you meant: grid-template-columns: 1fr 1fr? */
    }
    #gallery-selection {
        text-align: center;
        grid-column: 2 / 17;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1064px) {
    #twoColumn {
        grid-column: 1 / 17;
    }
}

/* ---------------------------------
   FOOTER
------------------------------------ */
footer {
    margin-top: 10.5px;
    clear: both;
    background-color: white;
}

/* ---------------------------------
   CALENDAR
------------------------------------ */
div#calendar {
    margin: 0px auto;
    padding: 0px;
    width: 602px;
}

div#calendar div.box {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

div#calendar div.header {
    line-height: 40px;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
}

div#calendar div.header a.prev,
div#calendar div.header a.next {
    position: absolute;
    top: 0px;
    height: 17px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 0 15px;
}

div#calendar div.header span.title {
    color: #FFF;
    font-size: 18px;
}

div#calendar div.header a.prev {
    left: 0px;
}

div#calendar div.header a.next {
    right: 0px;
}

div#calendar ul.label {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
    border-bottom: 2.2px solid black;
}

div#calendar ul.label li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 5vh;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #000;
    font-size: 15px;
    background-color: transparent;
}

div#calendar ul.dates {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

div#calendar ul.dates li {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 80px;
    vertical-align: middle;
    list-style-type: none;
    width: calc(100% / 7 - 5px);
    height: 6vh; /* Another place that can hamper responsive design if not needed. */
    font-size: 25px;
    color: #000;
    text-align: center;
    position: relative;
}

/* Smaller screens adjustments */
@media screen and (max-width: 600px) {
    div#calendar {
        width: 100%;
    }
    div#calendar ul.dates li {
        width: calc(100% / 7 - 2px);
        font-size: 15px;
        height: 60px;
    }
}
@media screen and (max-width: 600px) {
    div#calendar ul.dates li {
        margin-right: 3px;
        margin-top: 3px;
        width: calc(100% / 7 - 3px);
    }
}

/* ---------------------------------
   MISC & UTILITY
------------------------------------ */
:focus {
    outline: none;
}
div.clear {
    clear: both;
}
li div {
    display: flex;
    border-radius: 10px;
}
li div form {
    display: inline;
    align-self: center;
    margin: 0;
    position: absolute;
    bottom: 2px;
}

/* Booking statuses */
div.open {
    background: rgba(50, 190, 115, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
div.pending {
    background: rgb(220, 224, 11);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: inherit;
}
div.booked {
    background: #D36135;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: inherit;
}

/* Buttons */
.submit {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 19px;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}
.submit:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}
.submit:active {
    position: relative;
    top: 1px;
}

/* Image container */
.img-container {
    width: 90%;
    margin: 0 auto;
}
.img-container img {
    aspect-ratio: 4 / 3; /* This helps maintain ratio. */
}

/* Example usage of .img classes */
.img {
    border: 1px solid #ddd;
    padding: 1px;
    float: left;
    display: none;
}

.one {
    display: block;
    width: 66.69%;
}
.two,
.three {
    display: block;
    width: 33.31%;
}

/* Form horizontal layout */
#form_horizontal {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#postnr,
#by {
    width: 49%;
}
#storesal {
    margin-right: 50px; /* Possibly remove or adjust for smaller screens. */
}

/* Arrow */
.arrow-up {
    width: 0;
    height: 0;
    margin: auto 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid blue;
}

/* Column container sample */
#column2 {
    width: 100%;
    margin: 0 auto;
}

/************************************
Spinner and success message
************************************/
#spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#spinner-container {
    text-align: center;
    color: white;
}

#spinner-container img {
    width: 100px;
}

#success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

#message-box {
    text-align: center;
}

#message-box button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#message-box button:hover {
    background-color: #218838;
}